<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>boh-demo</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath*:/applicationContext.xml
			classpath*:/applicationContext-memcached.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>memSessionFilter</filter-name>
  	<filter-class>com.jije.boh.core.memsession.MemSessionFilter</filter-class>
  	<init-param>
  		<param-name>cookiemaxage</param-name>
  		<param-value>120</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>memSessionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
    <!-- 
  <filter>
    <filter-name>statelessFilter</filter-name>
    <filter-class>com.jije.boh.core.stateless.filter.StatelessFilter</filter-class>
    <init-param>
      <param-name>excludePatterns</param-name>
      <param-value>^/.*\.js$,^/.*\.css$</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>statelessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>statelessFilter</filter-name>
    <filter-class>net.sourceforge.statelessfilter.filter.StatelessFilter </filter-class>
    <init-param>
      <param-name>excludePatternList</param-name>
      <param-value>^/.*\.js$,^/.*\.css$</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>statelessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.jije.boh.demo.web.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.jije.boh.demo.web.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
</web-app>