<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

	<sql id="Base_Order">
		<if test="orderString != null and orderString != ''">
			ORDER BY ${orderString}
		</if>
	</sql>
	
	<sql id="Base_Page">
		<include refid="Base_Order"/>
		LIMIT #{pageOffset} , #{pageSize}
	</sql>
	
	<sql id="User_Column_List">
		id, name, email,
		login_name as loginName,
		department_id as "department.id"
	</sql>
	
	<select id="selectById" parameterType="int" resultType="User">
		select <include refid="User_Column_List"/>
		from acct_user
		where id=#{id}
	</select>
	
	<select id="batchSelectById" resultType="User">
		select <include refid="User_Column_List"/>
		from acct_user
		where id in
		<foreach collection="list" open="(" separator="," close=")" item="id">
			#{id}
		</foreach>
	</select>
	
	<update id="update" parameterType="User">
		update acct_user set
		<trim suffixOverrides=",">
			<if test="name != null and name != ''">name=#{name}, </if>
			<if test="email != null and email != ''">email=#{email}, </if>
			<if test="loginName != null and loginName != ''">login_name=#{loginName}, </if>
			<if test="department.id != null">department_id=#{department.id}, </if>
		</trim>
		where id=#{id}
	</update>
	
	<select id="count" parameterType="map" resultType="long">
		select count(id)
		from acct_user
		<where>
			<if test="loginName != null">
				login_name=#{loginName}
			</if>
			<if test="name != null">
				and name=#{name}
			</if>
		</where>
	</select>

	<select id="select" parameterType="map" resultType="User">
		select <include refid="User_Column_List"/>
		from acct_user
		<where>
			<if test="loginName != null">
				login_name=#{loginName}
			</if>
			<if test="name != null">
				and name=#{name}
			</if>
		</where>
		<include refid="Base_Order"/>
	</select>
	
	<select id="selectPage" parameterType="map" resultType="User">
		select <include refid="User_Column_List"/>
		from acct_user
		<where>
			<if test="loginName != null">
				login_name=#{loginName}
			</if>
			<if test="name != null">
				and name=#{name}
			</if>
		</where>
		<include refid="Base_Page"/>
	</select>

	<insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into acct_user (
		login_name, name, password, email, department_id)
		values (#{loginName}, #{name}, #{password}, #{email},
		#{department.id})
	</insert>
</mapper> 
